<div class="center">
   <div class="row">
    <h4>코스 선택</h4>
   </div><br/><br/>
   
   
    <form action="/home/mytest_details" method="post">
         <input type="hidden" name="chapter" value="0">
         <input class='button -alge center' style="width: 100%"  type="submit" value="그리스도인의 확신">
    </form><br>

