<style>
body {
 /* background: linear-gradient(#ccc, #fff);*/
 /* font: 14px sans-serif;*/
  padding: 20px;
}
  .letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
</style>

<!--
form 태그는 빼야합니다. 
기본적으로 form 태그가 있으면 refresh가 한 번 발생하기 때문!
-->







<div class="letter">
  <p>문제는 랜덤으로 출제됩니다.</p>
  
  <div id="question">
  <h4><%=@random_verse.passage%></h4>
  <%=@random_verse.content%>
  </div>
  
  
  <div class="row">
     <div class="input-field col s12">
      <textarea id="textarea1" name="content"class="materialize-textarea"></textarea>
       <label for="textarea1">정답 입력</label>
      <button class="waves-effect waves-light btn" id="mybutton">제출</button>
      </div>
  </div>
  
  <div class="row">
    <div class="answer"></div> 
  </div>

</div>

<script>
$('#mybutton').click(function(){
  var question=$('#question').text();
  var content= $("#textarea1").val();
  
  var re = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\(\=]/gi;
  
  //question=question.replace(/\s/g,'');
  //content=content.replace(/\s/g,'');
  //content=content.replace(re, "");
  var res = "", cls = "";
  $.ajax({
    method: "POST",
    url: "/home/checker", //form 태그의 액션 주소에 해당하는 부분
    data: { content: content },//parameter 값 전달
 
    
    success: function(){
      for (var i = 3; i < question.length; i++) {
        if(question.charAt(i)==content.charAt(i-3)){
          
          res += content.charAt(i-3);
          //alert(content.charAt(i-3));
        
        }
        else{
          cls = "red";
          res +="<span style=\"color: red\">"+content.charAt(i-3)+"</span>";
        }
          cls="";
        //alert(question.charAt(i));
      }
      //alert(res);
     $(".answer").html(res);
      

     // $('input:text').val(content);
      
    },
    error: function(){
      alert("리플이 작성되지않았습니다.");
    }
    
  })
});
</script>