<div id="question">
  <%=@random_verse.passage%>
  <%=@random_verse.content%>
</div>


<!--
form 태그는 빼야합니다. 
기본적으로 form 태그가 있으면 refresh가 한 번 발생하기 때문!
-->
<input type="text" name="content" id="content">
<button type="submit" class="content_submit">제출</button>


<div class="answer"></div> 
</div>

<script>
$('.content_submit').click(function(){
  var question=$('#question').text();
  var content= $("#content").val();
  
  var re = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\(\=]/gi;
  
  //question=question.replace(/\s/g,'');
  //content=content.replace(/\s/g,'');
  //content=content.replace(re, "");
  var res = "", cls = "";
  $.ajax({
    method: "POST",
    url: "/home/checker", //form 태그의 액션 주소에 해당하는 부분
    data: { content: content },//parameter 값 전달
 
    
    success: function(){
      for (var i = 3; i < question.length; i++) {
        if(question.charAt(i)==content.charAt(i-3)){
          
          res += content.charAt(i-3);
          //alert(content.charAt(i-3));
        
        }
        else{
          cls = "red";
          res +="<span style=\"color: red\">"+content.charAt(i-3)+"</span>";
        }
          cls="";
        //alert(question.charAt(i));
      }
      //alert(res);
     $(".answer").html(res);
      

     // $('input:text').val(content);
      
    },
    error: function(){
      alert("리플이 작성되지않았습니다.");
    }
    
  })
});
</script>

