<!--<% i=1%>-->
<!--<%@result.each do |link|%>-->
  
<!--    <%=i%>-->
<!--    <%=link.content%><br><br>-->
  
<!--      <%i+=1%>-->
    
<!--    <%end%>-->



<a href="verse60_A">A. 새로운 삶</a>
<a href="verse60_B">B. 그리스도를 전파함</a>
<a href="verse60_C">C. 하나님을 의뢰함</a>
<a href="verse60_D">D. 그리스도 제자의 자격</a>
<a href="verse60_E">E. 그리스도를 닮아 감</a>


