

<div class="container">
   
   <div class="row">
    <h1>60 구절</h1>
   </div><br/><br/>

    <form action="/home/verse60_details" method="get">
         <input type="hidden" name="chapter" value="0">
         <input class='button -alge center' style="width: 100%"  type="submit" value="A. 새로운 삶">
    </form><br>

    
    <form action="/home/verse60_details" method="get">
         <input type="hidden" name="chapter" value="1">
         <input class='button -alge center' style="width: 100%" type="submit" value="B. 그리스도를 전파함">
    </form><br>
    
    <form action="/home/verse60_details" method="get">
         <input type="hidden" name="chapter" value="2">
         <input class='button -alge center' style="width: 100%" type="submit" value="C. 하나님을 의뢰함">
    </form><br>    

    <form action="/home/verse60_details" method="get">
         <input type="hidden" name="chapter" value="3">
         <input class='button -alge center' style="width: 100%" type="submit" value="D. 그리스도 제자의 자격">
    </form><br>
  
  
    <form action="/home/verse60_details" method="get">
         <input type="hidden" name="chapter" value="4">
         <input class='button -alge center' style="width: 100%" type="submit" value="E. 그리스도를 닮아 감">
    </form> 

</div>
      





<script>
	var	body     = document.getElementsByTagName('body')[0],
    twitter  = document.getElementsByClassName('twitter')[0];

twitter.addEventListener("mouseover",function() {
    body.classList.add('linked');
},false);

twitter.addEventListener("mouseout", function() {
    body.classList.remove('linked');
}, false);
</script>
    